node_modules/
dist/
.next/
.expo/
.turbo/
*.tsbuildinfo

/mdfiles

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Expo
ios/
android/

# Build
out/
build/
